# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build Output
/.next/
/out/

# Production / Build
/build
/dist

# Debug Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.pnpm-debug.log*

# Environment Variables
.env
.env*.local
!.env.example

# Operating System
.DS_Store
Thumbs.db
*.pem

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# TypeScript cache
*.tsbuildinfo
next-env.d.ts
